.advantages {
    padding: 70px 0 67px 0;
    background: #F6F6F6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        a {
            color: #FF0000;
        }
    }
}